<h2>Barrage API backend navigation:</h2>
<ul>
  <li>
    <%= link_to "Users Index", api_v1_users_path %>
  </li>

  <li>
    <%= link_to "Levels Index", api_v1_levels_path %>
  </li>

  <li>
    <%= link_to "Enemy Index", api_v1_enemies_path %>
  </li>
</ul>
